h1 = t("meetia.questions.index_title", title: @situation.title)

= link_to t("meetia.questions.new_cta"), new_situation_question_path(@situation), class: 'btn btn-primary mb-3'

table.table.table-striped
  thead
    tr
      th = t("meetia.situations.order")
      th = t("meetia.situations.question_text")
      th = t("meetia.situations.type")
      th = t("meetia.situations.options")
      th = t("meetia.situations.actions")
  tbody
    - @questions.each do |q|
      tr
        td= q.order
        td= q.question_text
        td= q.question_type
        td= q.options
        td
          = link_to t("meetia.situations.show"), situation_question_path(@situation, q), class: 'btn btn-sm btn-info'
          = link_to t("meetia.situations.edit"), edit_situation_question_path(@situation, q), class: 'btn btn-sm btn-warning'
          = link_to t("meetia.situations.destroy"), situation_question_path(@situation, q), method: :delete, data: { confirm: t("meetia.situations.confirm_destroy") }, class: 'btn btn-sm btn-danger'
