h1 = t("meetia.questions.show_title")

p
  strong = t("meetia.questions.order")
  | :
  = @question.order

p
  strong = t("meetia.questions.question_text")
  | :
  = @question.question_text

p
  strong = t("meetia.questions.question_type")
  | :
  = @question.question_type

p
  strong = t("meetia.situations.options")
  | :
  = @question.options

= link_to t("meetia.situations.edit"), edit_situation_question_path(@situation, @question), class: 'btn btn-warning'
= link_to t("meetia.situations.back"), situation_questions_path(@situation), class: 'btn btn-secondary'
