<!DOCTYPE html>
<html>
  <body style="font-family: sans-serif; color: #111827; line-height: 1.7;">
    <%= @renderer.html_body.html_safe %>
    <img src="<%= @open_tracking_url %>" width="1" height="1" alt="" style="display:block;width:1px;height:1px;border:0;" />
  </body>
</html>
