- nav_deal = sidebar_nav_deal

.db-v2-sidebar
  button.db-v2-sidebar__close type="button" aria-label=t("meetia.dashboard.nav.close_menu") data-dashboard-sidebar-close=""
    i.fa-solid.fa-xmark

  .db-v2-sidebar__inner
    = link_to dashboard_index_path, class: "db-v2-sidebar__logo-area" do
      = image_tag "meetia_logo.png", alt: "Meetia", class: "db-v2-sidebar__logo-image"

    nav.db-v2-sidebar__nav aria-label=t("meetia.dashboard.nav.main_menu")
      .db-v2-sidebar__section
        p.db-v2-sidebar__section-label = t("meetia.dashboard.nav.section_overview")
        = link_to dashboard_index_path, class: sidebar_link_class(:dashboard) do
          i.fa-solid.fa-gauge-high aria-hidden="true"
          span = t("meetia.dashboard.nav.dashboard")

      .db-v2-sidebar__section
        p.db-v2-sidebar__section-label = t("meetia.dashboard.nav.section_deals")
        = link_to dashboard_deals_path, class: sidebar_link_class(:deals) do
          i.fa-solid.fa-briefcase aria-hidden="true"
          span = t("meetia.dashboard.nav.deals")
        = link_to sidebar_leads_path, class: sidebar_link_class(:leads) do
          i.fa-solid.fa-users aria-hidden="true"
          span = t("meetia.dashboard.nav.leads")
          - if client_signed_in? && !nav_deal
            span.db-v2-sidebar__hint = t("meetia.dashboard.nav.leads_hint")

      .db-v2-sidebar__section
        p.db-v2-sidebar__section-label = t("meetia.dashboard.nav.section_account")
        - if acting_as_admin?
          = link_to dashboard_management_path, class: sidebar_link_class(:management) do
            i.fa-solid.fa-building-columns aria-hidden="true"
            span = t("meetia.dashboard.nav.companies")
          = link_to dashboard_account_path, class: sidebar_link_class(:account) do
            i.fa-solid.fa-globe aria-hidden="true"
            span = t("meetia.dashboard.nav.account")
        - elsif client_signed_in?
          = link_to dashboard_subscription_path, class: sidebar_link_class(:subscription) do
            i.fa-solid.fa-credit-card aria-hidden="true"
            span = t("meetia.dashboard.nav.plan_billing")
          = link_to dashboard_account_path, class: sidebar_link_class(:account) do
            i.fa-solid.fa-globe aria-hidden="true"
            span = t("meetia.dashboard.nav.account")
          button.db-v2-sidebar__link type="button" data-problem-modal-open=""
            i.fa-solid.fa-bug aria-hidden="true"
            span = t("meetia.dashboard.nav.report_problem")
        = render "shared/sign_out_button", path: (acting_as_admin? ? destroy_admin_session_path : destroy_client_session_path), variant: :sidebar, label: t("meetia.dashboard.common.sign_out")

    .db-v2-sidebar__footer
      - avatar_name = acting_as_admin? ? current_admin.email : sidebar_user_display_name
      .db-v2-sidebar__account
        .db-v2-sidebar__user
          .db-v2-sidebar__user-avatar aria-hidden="true"
            span.db-v2-sidebar__user-avatar-initials = sidebar_avatar_initials(avatar_name)
          .db-v2-sidebar__user-meta
            - if acting_as_admin?
              span.db-v2-sidebar__user-name = current_admin.email
              span.db-v2-sidebar__user-role Admin
            - else
              span.db-v2-sidebar__user-name = sidebar_user_display_name
              span.db-v2-sidebar__user-role = sidebar_plan_label
