h1 = t("meetia.situations.index_title")

= link_to t("meetia.situations.new_cta"), new_situation_path, class: 'btn btn-primary mb-3'

table.table.table-striped
  thead
    tr
      th ID
      th = t("meetia.situations.title")
      th = t("meetia.situations.created")
      th = t("meetia.situations.actions")
  tbody
    - @situations.each do |s|
      tr
        td= s.id
        td= s.title
        td= s.created_at.strftime('%Y-%m-%d')
        td
          = link_to t("meetia.situations.show"), situation_path(s), class: 'btn btn-sm btn-info'
          = link_to t("meetia.situations.edit"), edit_situation_path(s), class: 'btn btn-sm btn-warning'
          = link_to t("meetia.situations.destroy"), situation_path(s), method: :delete, data: { confirm: t("meetia.situations.confirm_destroy") }, class: 'btn btn-sm btn-danger'
