h1 = t("meetia.situations.show_title", title: @situation.title)

p
  strong = t("meetia.situations.description")
  | :
  = @situation.description

p
  strong = t("meetia.situations.created")
  | :
  = @situation.created_at.strftime('%Y-%m-%d %H:%M')

h2 = t("meetia.situations.questions")
= link_to t("meetia.situations.add_question"), new_situation_question_path(@situation), class: 'btn btn-primary mb-2'

table.table.table-striped
  thead
    tr
      th = t("meetia.situations.order")
      th = t("meetia.situations.question_text")
      th = t("meetia.situations.type")
      th = t("meetia.situations.options")
      th = t("meetia.situations.actions")
  tbody
    - @situation.questions.order(:order).each do |q|
      tr
        td= q.order
        td= q.question_text
        td= q.question_type
        td= q.options
        td
          = link_to t("meetia.situations.edit"), edit_situation_question_path(@situation, q), class: 'btn btn-sm btn-warning'
          = link_to t("meetia.situations.destroy"), situation_question_path(@situation, q), method: :delete, data: { confirm: t("meetia.situations.confirm_destroy") }, class: 'btn btn-sm btn-danger'

= link_to t("meetia.situations.back"), situations_path, class: 'btn btn-secondary mt-3'
