.container
  h1.mb-4 = t("meetia.problems.show_title")

  .card.shadow-sm
    .card-body

      table.table
        tr
          th = t("meetia.problems.company")
          td = @problem.company
        tr
          th = t("meetia.problems.email")
          td = @problem.email
        tr
          th = t("meetia.problems.body")
          td = @problem.body
        tr
          th = t("meetia.problems.photo")
          td
            - if @problem.photo.present?
              = image_tag @problem.photo.url, class: "img-fluid rounded", style: "max-width: 300px;"
            - else
              span.text-muted = t("meetia.problems.none")

        tr
          th = t("meetia.interview.created")
          td.text-muted = @problem.created_at.strftime("%Y-%m-%d")

    .card-footer.text-end
      = link_to t("meetia.situations.edit"), edit_problem_path(@problem), class: "btn btn-outline-success"
      = link_to t("meetia.dashboard.common.delete"), problem_path(@problem),
        method: :delete,
        data: { confirm: t("meetia.problems.confirm_delete") },
        class: "btn btn-outline-danger ms-2"
      = link_to t("meetia.problems.back_index"), problems_path, class: "btn btn-secondary ms-2"
