- pixel_id = ENV["META_PIXEL_ID"].to_s
- if pixel_id.match?(/\A\d+\z/)
  / Meta Pixel Code
  script
    == <<~JS.html_safe
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '#{pixel_id}');
      fbq('track', 'PageView');
      (function(){
        var lastUrl = location.href;
        function trackPageView(){
          if (typeof fbq !== 'function') return;
          if (lastUrl === location.href) return;
          lastUrl = location.href;
          fbq('track', 'PageView');
        }
        document.addEventListener('turbo:load', trackPageView);
        document.addEventListener('turbolinks:load', trackPageView);
      })();
    JS
  noscript
    img height="1" width="1" style="display:none" alt="" src="https://www.facebook.com/tr?id=#{pixel_id}&ev=PageView&noscript=1"
  / End Meta Pixel Code
